html {
  height: 100%;
}

body {
    margin: 0;
    font-family: lucida grande, lucida, sans-serif;
    height: 100%;
    line-height: 1;
}

input.property {
}

.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
    text-align: center;
}

/* Consistent look and feel for controls */
.button, button {
    display: inline-block;
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.views {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* rows will not stretch vertically, but can shrink */
    /* rows will stretch to fill the width */
}

/* .topbar container for .menubar and .locationbar */
/* Should stretch to fill the row */
.topbar {
    background-color: #f2f1f0;
    flex-grow: 0
}

.locationbar {
    clear: both;
    font-size: small;
}

.middle {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 200px;
    display: flex;
    flex-direction: row;
}

.toolbar {
    flex-grow: 0;
}

.toolbar > button {
    /* Force break between toolbar button elements to layout vertically */
    display: block;
}

.canvases {
    flex-grow: 1;
    border: 1px solid black;
}

.canvasbox {
    width: 100%;
    height: 100%;
}

#orthographic {
    cursor: none;
}

.infobar {
    flex-grow: 0;
    background-color:#666;
    color: white;
    padding: 0.5em;
    float: right;
    width: 200px;
}

.information ul {
    padding-left: 0;
    list-style-type: none;
}

.information li {
    padding-left: 1em;
}

.dialog {
    display: none;
}
